streamlit==1.29.0
pandas==1.5.3
numpy==1.24.3
matplotlib==3.7.1
seaborn==0.12.2
sdv==1.1.0
rdt==1.5.0
tensorboard==2.15.1
datasynthesizer==0.1.13
pandasql==0.7.3
pyyaml==6.0
nltk==3.8.1
https://github.com/seahzs/syndataweb/blob/main/irg-1.0.0-py3-none-any.whl?raw=true